.service_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.service {
    width: 353px;
    margin: 20px;
}

.service h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 10px;
    text-align: left;
}

.service p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    display: inline;
}

.service img {
    float: left;
    display: block;
    margin: 20px 20px;
}

.container_fluid.under {
    background-color: #F8F8F8;
}

.container_fluid.kolo {
    background-color: #b7b7b7;  
}

.arrow {
  width: 21px;
  height: 12px;
  transform: rotate(-90deg);
}

.arrow2 {
  width: 21px;
  height: 12px;
  transform: rotate(90deg);
}


.under {
  height: 290px;
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.SPEECH {
    float: left;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 20px;
}

.under p {
    width: 770px;
    height: 147px;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: left;
    text-transform: none;
}

.under h4 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    display: inline;
}

.under hr {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  float: left;
}

.service_img {
    width: 570px;
    height: 380px;
}

.service_img img {
    width: 100%;
    height: 100%;
}

.service_info {
    width: 570px;
    height: 380px;
}

.service_info h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 13px 0;
}

.service_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_p {
    width: 530px;
    height: 135px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin: 15px 0;
}

.arrow3 {
    transform: rotate(180deg);
}

.service_flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}